# Object files
*.o
*.obj

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.exp

# Executables
*.exe
*.out
*.app

# Arhcives
*.zip

# Visual Studio files
*.opensdf
*.sdf
*.suo

# Lexer outputs
*.tab.c
*.tab.h
*.yy.c

# Eclipse metadata folder
.metadata/*

# Temp files
*~

/Tema2/tema2-checker-lin/_test/bin/test_before_after
/Tema2/tema2-checker-lin/_test/bin/test_double_finalize
/Tema2/tema2-checker-lin/_test/bin/test_double_init
/Tema2/tema2-checker-lin/_test/bin/test_matrix_multiply
/Tema2/tema2-checker-lin/_test/bin/test_mpirun
/Tema2/tema2-checker-lin/_test/bin/test_ring
/Tema2/tema2-checker-lin/_test/bin/test_send_recv
/Tema2/tema2-checker-lin/_test/bin/test_send_recv_array
/Tema2/tema2-checker-lin/_test/bin/test_simple
/Tema2/tema2-checker-lin/mpirun
/Tema2/tema2-checker-lin/test.log
/Tema2/tema2-checker-win/test.log
Debug
